header { position: fixed; top: 0; width: 100%; height: 35px; background: brown }
.container { position: relative; top: 35px }
button { position: relative; display: inline-flex; width: auto; height: 35px; line-height: 35px; border: 1px solid black; z-index: 10 }
.window {
  float: left;
  margin: 0 4px;
  position: relative;
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 0;
  line-height: 35px;
  border-radius: 15px;
  z-index: 100;
  &.red { background: #ff4444 }
  &.yellow { background: #ffcc44 }
  &.green { background: limegreen }
}
.button-row {
  float: left;
  position: fixed;
  top: 0;
  padding-left: 4px;
  display: inline-block;
  height: 35px;
  line-height: 25px;
  z-index: 100;
}
.icon {
  position: relative;
  display: inline-block;
  top: 0;
  right: 0;
  width: 1.5em;
  perspective: 500px;
  animation-name: logo-moving;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;

  &.type1 {
    animation-delay: .5s;
  }
  &.type2 {
    animation-delay: 1s;
  }
  &.type3 {
    animation-delay: 1.5s;
  }
}
.wrap_icon {
  perspective: 500px;
  position: absolute;
  top: 5px;
  right: 30px;
}
@keyframes logo-moving {
  0% {
    transform: translate3D(0, 0, 0) rotateY(0deg);
  }
  30% {
    transform: translate3D(0, 0, 100px) rotateY(360deg);
  }
  80% {
    transform: rotateY(0deg);
  }
  100% {
    transform: translate3D(0, 0, 0px) rotateY(0deg);
  }
}
